* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.menu,
.zoom {
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(80, 80, 80, 0.6);  
  padding: 20px;
  z-index: 2;
}

.menu {
  left: 0;
  padding: 0;
  width: 250px;
  height: 100vh;
}

.zoom {
  left: 50%;
  transform: translate(-50%, 0);
}

.zoom > * {
  width: 30px;
  height: 30px;
}

.reset {
  width: 100px;
}

.list {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  list-style: none;
}

.item {
  padding: 10px 15px 5px;
  background: rgb(124, 124, 124, 0.5);
  border-bottom: 1px solid #aaa2a2;
}

.item:hover {
  font-size: 17px;
  background: rgba(83, 83, 83, 0.5);
}

.gm-fullscreen-control {
  display: none;
}

.gm-style-iw {
  width: 200px;
  height: 100px;
}
